body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: ghostwhite;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.pads-container {
  display: flex;
  width: 100%;
}
.pads-top-container {
  display: flex;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.pads-container div {
  flex: 1;
}
.pads-top-container div {
  flex: 1;
}
.pads-container div:hover {
  cursor: pointer;
}
.pads-top-container div:hover {
  cursor: pointer;
}
.pad1 {
  background-color: #8e44ad;
  width: 150px;
  height: 100px;
}
.pad2 {
  background-color: #f1948a;
  width: 150px;
  height: 100px;
}
.pad3 {
  background-color: #1abc9c;
  width: 150px;
  height: 100px;
}
.pad4 {
  background-color: #f1c40f;
  width: 150px;
  height: 100px;
}
.pad5 {
  background-color: #7fb3d5;
  width: 150px;
  height: 100px;
}
.pad6 {
  background-color: #229954;
  width: 150px;
  height: 100px;
}
.pad7 {
  background-color: #0049b7;
  width: 150px;
  height: 100px;
}
.pad8 {
  background-color: #00ddff;
  width: 150px;
  height: 100px;
}
.pad9 {
  background-color: #fff685;
  width: 150px;
  height: 100px;
}
.pad10 {
  background-color: #ff3a22;
  width: 150px;
  height: 100px;
}
.pad11 {
  background-color: #acb7ae;
  width: 150px;
  height: 100px;
}
.pad12 {
  background-color: #F7882F;
  width: 150px;
  height: 100px;
}

@keyframes bubblesJump {
  0% {
    bottom: 0;
    left: 20%;
  }
  50% {
    bottom: 50%;
    left: 50%;
  }
  100% {
    bottom: 0%;
    left: 80%;
  }
}
@keyframes bubblesTopFall {
  0% {
    top: 0%;
    left: 10%;
  }
  50% {
    top: 50%;
    left: 50%;
  }
  70% {
    top: 50%;
    left: 20%;
  }
  80% {
    top: 50%;
    left: 70%;
  }
  100% {
    top: 0%;
    left: 90%;
  }
}
.visual div {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  bottom: 0%;
  z-index: -1;
}
.visual-top div {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 0%;
  z-index: -1;
}
.collpase h3 {
    color: #00ddff;
    font-weight: 700;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.collpase p {
    color:#ff3a22;
    font-weight: 700;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
